/*
*/
body {
     padding: 0;
     margin: 0;
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-weight: 200;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

header {
       padding: 10px 0 10px 0;
       background: -webkit-linear-gradient(rgba(191, 191, 191, 1) 0%, rgba(127, 127, 127, 1) 10%, rgba(127, 127, 127, 1) 90%, rgba(191, 191, 191, 1) 100%);
}

#content {
         padding: 10px 0;
}

footer {
}

/* Style table */
.tbl {
     border-collapse:collapse;
     table-layout: fixed;
     font-size: 14px;
     margin: 0 auto;
}
.tbl th {
     padding: 20px 10px;
     cursor: pointer;
     background: -webkit-linear-gradient(top, rgba(191, 191, 191, 1), rgba(127, 127, 127, 1));
     color: rgba(255, 255, 255, 1);
}
.tbl th:first-child {
     border-radius: 9px 0 0 0;
}
.tbl th:last-child {
     border-radius: 0 9px 0 0;
}

.tbl tr:last-child td:first-child {
     border-radius: 0 0 0 9px;
}
.tbl tr:last-child td:last-child {
     border-radius: 0 0 9px 0;
}
.tbl tr:nth-child(even) {
     background: rgba(191, 191, 191, 1);
}
.tbl td {
     padding: 10px;
}

.chart {
     max-width: 500px;
     margin: 0 auto;
}
.chart-data {
     max-width: 300px;
     margin: 0 auto;
     text-align: center;
     min-height: 18px;
}

.chart {
     max-width: 500px;
     margin: 0 auto;
}

.map-view {
     width: 600px;
     height: 300px;
     margin: 0 auto;
}
.map {
     width: 400px;
     height: 300px;
     float: left;
}
.map-view ul {
     width: 200px;
     height: 300px;
     overflow: auto;
     list-style: none;
     padding: 0;
     margin: 0;
}
.map-view ul li {
     cursor: pointer;
     padding: 5px;
}

h1 {
     font-size: 30px;
     color: rgba(255, 255, 255, 1);
}
h2 {
     font-size: 20px;
     text-decoration: underline;
}

